* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .container {
    height: 100%;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

h1 {
    align-self: flex-end;
    text-align: center;
    font-size: 2.2rem;
    color: rgb(15, 14, 14);
}

.idiomas {
    align-self: flex-start;
    text-align: center;
    margin-top: 40px;
}

.idiomas a {
    border-radius: 5px;
    padding: 15px;
    padding-top: 11px;
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid rgb(44, 44, 44);
    color: rgb(44, 44, 44);
}

.idiomas a:hover {
    border: 1px solid rgb(8, 8, 8);
    color: rgb(8, 8, 8);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.88);
    transition: .3s;
}

.idiomas a img {
    height: 28px;
    width: auto;
    border-radius: 10%;
}

.idiomas a:first-child {
    margin-right: 25px;
}